<div data-test-entity>
  {{@model.name}}
</div>

<ul>
  {{#each @model.properties as |property|}}
    <li>
      <LinkTo @route="entities.entity.property" @model={{property.id}} data-test-property="{{property.id}}">
        {{#each property.displayNames as |name index|}}
          {{if index "> "}}{{name}}
        {{/each}}
      </LinkTo>
    </li>
  {{/each}}
</ul>
