{{#if @model.parent}}
  <LinkTo @route="entities.entity.property" @model={{@model.parent.id}}>Back to Parent</LinkTo>
{{else}}
  <LinkTo @route="entities.entity" @model={{@model.entity.id}}>Back to Entity</LinkTo>
{{/if}}

<div>{{@model.name}}</div>

<ul>
  {{#each @model.properties as |property|}}
    <LinkTo @route="entities.entity.property" @model={{property.id}}>{{property.name}}</LinkTo>
  {{/each}}
</ul>
